<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. Scikitlearn
6. Tensorflow

| Data Science Tools|
---------------------
MySQL|
Cassandra|
Mongo DB|
Apache Kafka|

#### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

***I have written a code that converts any number of minutes to hours in order to test myself and learn new python tricks***

In [72]:
# The following lines of code should convert any value of minutes to hours
# Enter and print the value of minutes

import math

value_of_time = 200 
units_of_time = " minutes"
number_of_minutes = (str(value_of_time) + units_of_time )
print (number_of_minutes)

200 minutes

In [73]:
# Convert the minutes to hours

convert_to_hours = 1/60
time_in_hours = value_of_time * convert_to_hours
print (time_in_hours)

3.3333333333333335

In [74]:
# Extract the number of complete hours

number_of_hours = math.floor(time_in_hours)
print ( number_of_hours)

3

In [75]:
# Extract the leftover incomplete hours

incomplete_hours = time_in_hours - number_of_hours
print (incomplete_hours)

0.3333333333333335

In [76]:
# Convert incomplete hours back into minutes

back_to_minutes = 60
leftover_minutes = math.floor(incomplete_hours * back_to_minutes)
print (leftover_minutes)

20

In [77]:
# Create a sentence to display final result

conjuction = " into hours is "
hours = " hours"
_and = " and "
final_result = number_of_minutes + conjuction + str(number_of_hours) + hours + _and + str(leftover_minutes) + units_of_time
print (final_result)

200 minutes into hours is 3 hours and 20 minutes

**Objectives:**

* List of popular languages for Data Science
* List of commonly used libraries by Data Scientists
* List of data science tools

## Author

Chiwama Michael Mwela